 <%- include("partials/header") %>

 <div class="contact" id="contact">
     <div class="contact-page">
         <div class="contact-inner-page">
             <div class="contact-heading">
                 <h1><%= contactHeading %></h1>
             </div>
             <div class="contact-info">
                 <div class="col-4 contact-box">
                     <a href="#" class="fa fa-phone"></a>
                     <p><%= phoneDescription %></p>
                     <p><%= phoneNumber %></p>
                 </div>
 
                 <div class="col-4 contact-box">
                     <a href="#" class="fa fa-envelope"></a>
                     <p><%= emailDescription %></p>
                     <p><%= emailAddress %></p>
                 </div>
 
                 <div class="col-4 contact-box">
                     <a href="#" class="fa fa-whatsapp"></a>
                     <p><%= whatsappDescription %></p>
                     <p><%= whatsappNumber %></p>
                 </div>
             </div>
 
             <div class="truck-map">
                 <img src="<%= truckMapImage %>">
             </div>
         </div>
     </div>
 </div>
 
 <%- include("partials/footer")-%>
 